.news-block {
    @extend %d-narrow;

    display: grid;
    grid-template: auto auto 1fr / max-content 1fr;
    grid-gap: var(--in-between-blocks);
    font-family: $ff-osv;

    &__img {        
        grid-row: 1 / 3;
        grid-column: 1 / 2;        
    }

    &__date {        
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        place-self: start start;   
        padding: 10px;             
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 700;        
        color: var(--co-bg-black);
        background-color: var(--co-main-orange);     
    }

    &__header {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        font-size: 1.8rem;        
    }

    &__text {
        @extend %f-main-text;

        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
}