<div class="news-block">    
    <img class="news-block__img" src="<%= imgLink %>">        
    <p class="news-block__date"><%= date %></p>
    <h2 class="news-block__header"><%= header %></h2>   
    <p class="news-block__text"><%= text %></p>  
</div>