<section class="news">
    <h2 class="news__header">Новости</h2>
    <%- include('./_news-block/_news-block.ejs', {
        imgLink: '../assets/img/news-1.jpg',        
        date: '04 апреля, 2021',
        header: 'Турнир - снайперские войны',
        text: 'И даже ветка не хрустнет под их осторожными шагами. Проводим турнир снайперов, записывайся уже сегодня!'
    }) %>
    <%- include('./_news-block/_news-block.ejs', {
        imgLink: '../assets/img/news-2.jpg',        
        date: '25 апреля, 2021',
        header: 'Локация - промышленные джунгли',
        text: 'Мы подготовили для тебя новое поле боя - промышленные джунгли, полуразрушенные бетонные здания создают немыслимый антураж'
    }) %>
    <%- include('./_news-block/_news-block.ejs', {
        imgLink: '../assets/img/news-3.jpg',        
        date: '02 мая, 2021',
        header: 'Арсенал - маркеры Beretta',
        text: 'Наш арсенал пополнился новыми маркерами Bereta. Непревзойденная точность и убойная мощь гарантированы!'
    }) %>
</section>
