<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('./_common-blocks/_head/_head.ejs', {
            title: 'ShootingClub - Пейнтболл в Новосибирске', 
            description: 'Лучший пейнбольный клуб, почувствуй вкус адреналина!'}); %>
    </head>
    <body>
        <div class="primary-wrapper">
            <%- include('./_common-blocks/_controls/_controls.ejs') %>
            <%- include('./_page-data/index/_gallery/_gallery.ejs') %>
        </div>
    </body>
</html>                  