<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('./_common-blocks/_head/_head.ejs', {
            title: 'ShootingClub - Пейнтболл в Новосибирске', 
            description: 'Лучший пейнбольный клуб, почувствуй вкус адреналина!'}); %>
    </head>
    <body>
        <div class="primary-wrapper">
            <%- include('./_common-blocks/_controls/_controls.ejs') %>
            <%- include('./_page-data/index/_gallery/_gallery.ejs') %> 
            <main class="main-wrapper">                
                <section class="content"> 
                    <h2 class="content__header">Добро пожаловать</h2>

                    <h3 class="content__subheader">Вспомни что такое адреналин</h3>
                    <p class="content__text">
                        Присоединяйся к нам, пейнтбол это игра, в которой абсолютно не 
                        важен твой возраст или пол. Несмотря на всю экстремальность, мы 
                        принимаем беспрецедентные меры безопасности, поэтому с нами можно 
                        проводить время не только весело, но и безопасно, современная 
                        экипировка и отлаженные правила делают свое дело.
                    </p>

                    <h3 class="content__subheader">Будь в форме</h3>
                    <p class="content__text">
                        Даже если ты новичок, мы легко научим тебя обращаться с оружием 
                        и амуницией. Всего через пару занятий ты будешь себя чувствовать 
                        в себя как дома. Кроме того, твоя физическая подготовка, будет 
                        расти в гору, так что сам удивишься. Современный образ жизни 
                        сильно расслабляет, чтобы быть в форме и сохранить здоровье, 
                        нужны регулярные тренировки, на наших тренеровках плещет адреналин 
                        на свежем воздухе, вместо простого повторения неестественно 
                        монотонных движений в душном зале.
                    </p>

                    <h3 class="content__subheader">Смени обстановку</h3>
                    <p class="content__text">
                        Ни для кого не секрет, что время от времени нужно делать что-то, 
                        вне зоны твоего комфорта. Это не только разгружает твой мозг от 
                        повседневной рутины, но и дает новые впечатления, заставляющие 
                        взглянуть на вещи под другим углом и получить новые эмоции. 
                        Пейнтбол - лучший способ выйти из зоны комфорта!
                    </p>
                </section>
                <section class="content">
                    <h2 class="content__header">Наш график</h2>                    
                    <h3 class="content__subheader">Посмотри на наш график, чтобы выбрать день</h3>
                    <table class="content__schedule">
                        <tr>
                            <td>Понедельник</td>
                            <td>12:00 - 22:00 <span>(игры)</span></td>
                        </tr>
                        <tr>
                            <td>Вторник</td>
                            <td>08:00 - 18:00 <span>(игры)</span></td>
                        </tr>
                        <tr>
                            <td>Среда</td>
                            <td>12:00 - 22:00 <span>(игры)</span></td>
                        </tr>
                        <tr>
                            <td>Четверг</td>
                            <td>08:00 - 18:00 <span>(игры)</span></td>
                        </tr>
                        <tr>
                            <td>Пятница</td>
                            <td>12:00 - 22:00 <span>(игры)</span></td>
                        </tr>
                        <tr>
                            <td>Суббота</td>
                            <td>08:00 - 18:00 <span>(тренировки)</span></td>
                        </tr>
                        <tr>
                            <td>Воскресение</td>
                            <td>12:00 - 22:00 <span>(турниры)</td>
                        </tr>
                    </table>
                    <p class="content__text">
                        Все вопросы касательно графика работы, а также проведение
                        специальных мероприятий можно уточнить по телефону, указанному на странице контактов.
                    </p>
                </section>
                <%- include('./_common-blocks/_news/_news.ejs') %>
            </main>
        </div>
    </body>  
</html>                  