.tournaments-section {
    @media screen and (min-width: $rs-md-px) {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    &__winners {       
        font-size: 1.4rem;  
        font-family: $ff-osv;      
        border-collapse: collapse;

        @media screen and (min-width: $rs-xs-px) {
            font-size: 1.6rem;
        }
        
        td, th {
            padding: 1em 0.5em;
            text-align: center;
            border: 1px solid var(--co-lines-grey);            
            
            &:first-child {
                font-weight: 700;
                color: var(--co-main-orange);
            }     
            
            &:nth-child(2) {
                text-align: left;                
            }
        }

        td {
            color: var(--co-text-grey);

            &:nth-child(2) {
                color: var(--co-main-white);
            }
        }

        th {
            color: var(--co-main-orange);
        }
        
        tr:nth-child(odd):not(thead>tr) {
            background-color: var(--co-bg-light-grey);
        }
    }
}
