.footer {   
    display: grid; 
    grid-gap: 0.5rem 1rem;
    padding: 0 var(--in-mobile-sides) 10px;
    text-align: center;
    font-family: $ff-osv;
    font-size: 1.4rem;   

    @media screen and (min-width: $rs-sm-px) {
        grid-row-gap: 1.8rem;
    }

    &__delimiter {
        @extend %d-wide;
        margin-bottom: 0.5rem;
        
        @media screen and (min-width: $rs-sm-px) {        
            grid-row: 1 / 2;
            grid-column: 1 / 3;            
        }
    }

    &__copyright {               
        color: var(--co-main-orange); 
        
        @media screen and (min-width: $rs-sm-px) {        
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            justify-self: end;
        }
    }

    &__address {        
        color: var(--co-text-grey);
        
        @media screen and (min-width: $rs-sm-px) {
            grid-row: 2 / 3;
            grid-column: 2 / 3;     
            justify-self: start;           
        }
    }

    &__links {
        display: none;
        color: var(--co-main-white);
        text-transform: uppercase;

        @media screen and (min-width: $rs-sm-px) {   
            display: grid;       
            grid-auto-flow: column;     
            grid-row: 3 / 4;
            grid-column: 1 / 3;  
            grid-gap: 2rem;
            justify-self: center; 
        }
    }

    &__link {
        
        @media(hover: hover) and (pointer: fine) {
            transition: all 0.2s ease-in-out;   

            &:hover {
                color: var(--co-main-orange);
            }
        }
    }

    &__creator {       
        color: var(--co-lines-grey);

        @media screen and (min-width: $rs-sm-px) {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
        }
    }

    .current {
        color: var(--co-main-orange);
        text-decoration: underline;
    }
}