<footer class="footer">
    <div class="footer__delimiter"></div>
    <ul class="footer__links">
        <li><a href="./index.html" class="footer__link">На главную</a></li>
        <li><a href="./tournaments.html" class="footer__link">Турниры</a></li>
        <li><a href="./photos.html" class="footer__link">Фото</a></li>
        <li><a href="./maps.html" class="footer__link">Оружие и локации</a></li>
        <li><a href="./about.html" class="footer__link">О клубе</a></li>
        <li><a href="./contacts.html" class="footer__link">Контакты</a></li>
    </ul>    
    <div class="footer__copyright">ShootingClub © 2021</div>
    <address class="footer__address">Российская федерация, Новосибирск, ул. Боевая 25</address>
    <div class="footer__creator">
        Сайт создан <a href="mailto:cold.snowww@yahoo.com">cold.snowww@yahoo.com</a>
    </div>
</footer>