// Fonts families
$ff-osv: 'Oswald';
$ff-rc: 'Roboto Condensed';

// Resolutions
$rs-xs: 480;
$rs-sm: 576;
$rs-md: 768;
$rs-lg: 1024;
$rs-xlg: 1440;

$rs-xs-px: $rs-xs * 1px;
$rs-sm-px: $rs-sm * 1px;
$rs-md-px: $rs-md * 1px; 
$rs-lg-px: $rs-lg * 1px;
$rs-xlg-px: $rs-xlg * 1px;

// Fonts 
%f-content-headings {
    font-family: $ff-osv;
    font-weight: 400;
    text-transform: uppercase;
}

%f-content-header {
    @extend %f-content-headings;    
    font-size: var(--fz-content-header);   
    color: var(--co-main-white);   
}

%f-content-subheader {
    @extend %f-content-headings;    
    font-size: var(--fz-main-text);   
    color: var(--co-main-orange);  
}

%f-main-text {
    font-family: $ff-rc;
    font-size: var(--fz-main-text);
    color: var(--co-text-grey);      
}

// Delimiters
%d-wide {
    padding-bottom: var(--in-delimiter-wide);
    border-bottom: 3px solid var(--co-lines-grey);
}

%d-narrow {   
    padding-bottom: var(--in-delimiter-narrow);
    border-bottom: 2px solid var(--co-lines-grey);
}

// Transitions
%t-hover {
    transition: all 0.2s ease-in-out;
}

// Blocks
%content {
    display: grid;
    grid-gap: var(--in-between-blocks);
    margin-top: var(--in-between-sections);
    padding: 0 var(--in-mobile-sides);
    color: var(--co-main-white);
}
