.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.mi-close::before {
    content: '\e5cd';    
}
.mi-back::before {
    content: '\e5c4';    
}
.mi-next::before {
    content: '\e5c8';    
}
.mi-mail::before {
    content: '\e0be';
}
.mi-m-phone::before {
    content: '\e324';
}
.mi-s-phone::before {
    content: '\e0cd';
}
