:root {
    font-size: 10px;    

    // Colors
    --co-bg-black: #010101;
    --co-bg-black-op: #010101bd;
    --co-bg-dark-grey: #161616;
    --co-bg-light-grey: #222222;
    --co-bg-grey-op: #2c2c2ce7;
    --co-main-white: #ffffff;
    --co-main-orange: #edb801;
    --co-text-grey: #9c9c9c;
    --co-lines-grey: #494949;

    // Font sizes
    --fz-content-header: 2.2rem;    
    --fz-main-text: 1.6rem;

    // Indents
    --in-desc-sides: 90px; 
    --in-mobile-sides: 20px;
    --in-delimiter-wide: 22px;
    --in-delimiter-narrow: 18px;    
    --in-between-column: 30px;
    --in-between-blocks: 18px;
    --in-between-sections: 35px;

        
    @media screen and (min-width: $rs-lg-px) {
        --fz-main-text: 1.4rem;
        --in-between-column: 60px;
    }
}

