<div class="modal-window theme_main" id="modalWindow">
    <div class="modal-window__window">
        <p class="modal-window__message" id="modalWindowMessage">Ваше сообщение было успешно отправлено, спасибо!</p>
        <div class="modal-window__icon">
            <span class="material-icons mi-status"></span>
            <div class='modal-window__loader sk-fading-circle'>
                <div class='sk-circle sk-circle-1'></div>
                <div class='sk-circle sk-circle-2'></div>
                <div class='sk-circle sk-circle-3'></div>
                <div class='sk-circle sk-circle-4'></div>
                <div class='sk-circle sk-circle-5'></div>
                <div class='sk-circle sk-circle-6'></div>
                <div class='sk-circle sk-circle-7'></div>
                <div class='sk-circle sk-circle-8'></div>
                <div class='sk-circle sk-circle-9'></div>
                <div class='sk-circle sk-circle-10'></div>
                <div class='sk-circle sk-circle-11'></div>
                <div class='sk-circle sk-circle-12'></div>
            </div>
        </div>
        <button class="modal-window__close" id="modalWindowClose">Закрыть</button>
    </div>
</div>