<div class="modal-window open error" id="messageFormModal">
    <div class="modal-window__window">
        <p class="modal-window__message">Ваше сообщение было успешно отправлено, спасибо!</p>
        <div class="modal-window__icon">
            <span class="material-icons mi-status"></span>
        </div>
        <button class="modal-window__close">Закрыть</button>
    </div>
</div>