<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= description %>">

<link rel="icon" type="image/png" sizes="192x192" href="../assets/icn/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="120x120" href="../assets/icn/favicon-120x120.png">
<link rel="apple-touch-icon" sizes="180x180" href="../assets/icn/apple-touch-icon-180x180.png">

<title><%= title %></title>  