// Basics
@import './styles/fonts';
@import './styles/helpers';
@import './styles/props';
@import './styles/mixins';

// Common
@import './styles/reset';
@import './styles/layouts';

// Common blocks
@import './html/_common-blocks/_controls/controls';
@import './html/_common-blocks/_thumb/thumb';
@import './html/_common-blocks/_news/news';
@import './html/_common-blocks/_footer/footer';
@import './html/_common-blocks/_head-banner/head-banner';

// Pages 
// Index
@import './html/_page-data/index/index.scss';
@import './html/_page-data/index/_gallery/gallery';
@import './html/_page-data/tournaments/tournaments.scss';
@import './html/_page-data/tournaments/_tournament-card/tournament-card';
