<div class="gallery" id="header-gallery" data-timing="3000">
    <ul class="gallery__holder">        
        <li class="gallery__scene"></li>
        <li class="gallery__scene"></li>
        <li class="gallery__scene"></li>
    </ul>    
    <h2 class="gallery__header">Paintball</h2>
    <a class="gallery__subheader" href="#welcome">краски войны</a>
    <div class="gallery__indicator">
        <span class="active"></span><span></span><span></span>
    </div>
</div>