.gallery {
    display: grid;
    grid-template: 1fr repeat(4, auto) / 100%;
    height: calc(100vw / 1.4015);
    color: var(--co-main-white);
    font-family: $ff-osv;


    @media screen and (min-width: $rs-sm-px) and (max-height: $rs-sm-px) {
        height: calc(100vh - 6.4rem);
    }

    @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
        height: 100vh;        
    }
  
    &__holder {
        grid-row: 1 / 6;
        grid-column: 1 / 2;
        display: grid;        
    }

    &__scene {
        width: 100%;
        height: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;

        @media screen and (min-width: $rs-sm-px) and (max-height: $rs-sm-px) {
            background-position: 50% 15%;
        }

        &:not(:first-child) {
            opacity: 0;
        }

        &:nth-child(1) {
            background-image: url('./assets/img/slide1.jpg');
        }
        &:nth-child(2) {
            background-image: url('./assets/img/slide2.jpg');
        }
        &:nth-child(3) {
            background-image: url('./assets/img/slide3.jpg');
        }
    }

    &__header {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        z-index: 5;
        padding: 0 var(--in-mobile-sides);
        font-size: 50px;
        text-transform: uppercase;   
        text-shadow: 0 0 15px black;  
        
        @media screen and (min-width: $rs-sm-px) {
            font-size: 64px;
        }

        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {            
            font-size: responsiveSize(64, 100, $rs-md, $rs-lg);
        }

        @media screen and (min-width: $rs-lg-px) {
            margin: 0 var(--in-desc-sides);
            padding: 0;
            font-size: 100px;
        }
    }

    &__subheader {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        padding: 0 var(--in-mobile-sides);
        z-index: 5;
        font-size: 28px;
        text-align: right;
        color: var(--co-main-orange);    
        text-shadow: 0 0 15px black;      

        @media screen and (min-width: $rs-sm-px) {
            font-size: 32px;
            text-align: center;
        }

        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {            
            font-size: responsiveSize(28, 56, $rs-md, $rs-lg);
        }

        @media screen and (min-width: $rs-lg-px) {
            margin: 0 var(--in-desc-sides);
            padding: 0;
            font-size: 56px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 1.15em;
            height: 0.65em;
            margin-left: 0.8em;
            background-image: url('./assets/img/bullet-icon.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0 50%;
        }
    }

    &__thumbs {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        display: none;
        margin-top: 20px;
        padding: 0 var(--in-mobile-sides);
        z-index: 5;

        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
            display: grid;
            grid-auto-flow: column;
            grid-gap: var(--in-between-column);
            justify-content: space-between;
        }

        @media screen and (min-width: $rs-lg-px) {
            margin: 30px var(--in-desc-sides);
            padding: 0;
        }
    }

    &__indicator {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1em;
        justify-content: start;
        padding: 24px var(--in-mobile-sides); 
        font-size: 0.8rem;
        z-index: 5;       
        
        @media screen and (min-width: $rs-md-px) {
            justify-content: center;
        }
        
        span {            
            height: 1em; 
            width: 1em;
            border-radius: 50%;
            background-color: var(--co-main-white);

            &.active {
                background-color: var(--co-main-orange);
            }
        }
    }
}