.controls {
    display: flex;   
    align-items: center; 
    padding-left: var(--in-mobile-sides);
    z-index: 10;
    font-family: $ff-osv;
    color: var(--co-main-white);
    text-transform: uppercase;
    background-color: var(--co-bg-black);

    @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 14px var(--in-mobile-sides);
    }

    @media screen and (min-width: $rs-lg-px) {
        top: 30px;
        margin: 0 var(--in-desc-sides);
        background-color: var(--co-bg-black-op);
    }

    &__header {
        display: flex;
        font-size: 3.2rem;

        span {
            display: inline-block;
            padding-left: 0.25em;
            color: var(--co-main-orange);
        }
    }

    &__logo {             
        height: 1em;
    }

    &__burger {
        margin-left: auto;
        height: 6.4rem;
        font-size: 6.4rem;

        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
            display: none;
        }
    }

    &__navigation {
        display: none;
        position: absolute;
        top: 6.4rem;
        left: 0;
        right: 0;
        bottom: 0;    
        padding: 30px var(--in-mobile-sides);   
        font-size: 2rem; 
        text-transform: none;
        background-color: var(--co-bg-black);  
        border-top: 2px solid var(--co-lines-grey);         
        
        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
            display: block;
            position: static;
            margin-left: auto;
            padding: 0;        
            font-size: 1.8rem;    
            border-top: none;
            text-transform: uppercase;
        }

        @media screen and (min-width: $rs-lg-px) {
            background-color: transparent;
        }
        
        &.open {
            display: block;
            opacity: 0.85;
        }

        ul {
            display: grid;
            grid-gap: 16px;

            @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
                grid-auto-flow: column;
                grid-gap: 20px;
            }
        }
    }

    &__delimiter {
        width: 100%;
        background-image: linear-gradient(90deg, var(--co-main-orange), var(--co-bg-black));

        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
            display: none;
        }
    }

    &__navigation-item {

        @media screen and (min-width: #{$rs-md-px + 1px}) and (min-height: #{$rs-sm-px + 1px}) {
            &.hidden {
                display: none;
            }
        }

        @media(hover: hover) and (pointer: fine) {
            transition: all 0.2s ease-in-out;   

            &:hover {
                color: var(--co-main-orange);
            }
        }
    }
}

// Burger
.ham {
    width: 1em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--co-main-white);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham6 {
    .top {
        stroke-dasharray: 40 172;
    }
    
    .middle {
        stroke-dasharray: 40 111;
    }
    
    .bottom {
        stroke-dasharray: 40 172;
    }

    &.open {
        .top {
            stroke-dashoffset: -132px;
        }
        
        .middle {
            stroke-dashoffset: -71px;
        }
        
        .bottom {
            stroke-dashoffset: -132px;
        }
    }
} 

